<%- include('layouts/header.ejs') %>

<br>
<br>
<!-- Begin table -->
<div class="container d-flex justify-content-center">
  <!-- <div class="col-12 col-md-8 col-lg-6"> -->
    <div class="card bg-white">
      <div class="card-body p-8">
        <div class="table-responsive">
        <table class="table table-striped table-hover align-middle tracker">
          <thead>
            <tr>
              <th>Date</th>
              <th>Workout</th>
              <th>Duration</th>
              <th>Intensity</th>
              <th>Cals Burned</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="tracker_entries">
            <tr class="tracker_row">
              <td>
                <input type="date" class="tracker_date">
              </td>
              <td>
                <select class="tracker_workout">
                  <option value="walking">Walking</option>
                  <option value="jogging">Jogging</option>
                  <option value="hiking">Hiking</option>
                  <option value="running">Running</option>
                  <option value="swimming">Swimming</option>
                  <option value="cycling">Cycling</option>
                  <option value="weights">Weight Lifting</option>
                  <option value="calisthenics">Calisthenics</option>
                  <option value="crossFit">CrossFit</option>
                  <option value="yoga">Yoga</option>
                  <option value="pilates">Pilates</option>
                </select>
              </td>
              <td>
                <input type="number" class="tracker_duration">
                <span class="tracker_text">minutes</span>
              </td>
              <td>
                <select class="tracker_intensity">
                  <option value="light">Light</option>
                  <option value="moderate">Moderate</option>
                  <option value="heavy">Heavy</option>
                </select>
              </td>
              <td>
                <input type="text" class="tracker_cal" placeholder="Estimated" readonly></input>
              </td>
              <td>
                <button type="button" class="tracker_delete">&times;</button>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr class="tracker_row tracker_row_add">
              <td colspan="6">
                <button type="button" class="tracker_add">Add Entry &plus;</span>
              </td>
            </tr>
          </tbody>
        </table>  
      </div>
    </div>
  </div>
</div>
<!-- End table -->

<!-- Weight Adjustment -->
<div class="container d-flex justify-content-center m-4 mx-auto">
  <div class="col-4">
    <div class="card bg-white">
      <div class="card-body p-8">
        <form>
          <h5 class="text-primary">Weight Adjustment</h5>
          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="weight">Weight In Pounds</label>
            <input type="text" class="form-control" id="email" placeholder="Weight in lbs"/>
          </div>
      
          <!-- Submit button -->
          <button type="button" class="btn btn-primary btn-block mb-4">Change Weight</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End Weight Adjustment -->


<%- include('layouts/footer.ejs') %> 